<footer class="site-footer h-card">
  <data class="u-url" value="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          {%- if site.mailing_list_url -%}
          <li><a href="{{ site.mailing_list_url }}">Mailing list</a></li>
          {%- endif -%}
          {%- if site.slack_url -%}
          <li><a href="{{ site.slack_url }}">Slack</a></li>
          {%- endif -%}
          {%- if site.contribute_url -%}
          <li><a href="{{ site.contribute_url }}">Contribute!</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
